<div class="tool"
	style="border: 1px solid; border-color: skyblue; height: 40px;">
	<a href="#" ng-click="viewAccount()" style="margin-top: 2px; margin-left: 5px;"
		class="list-btn btn btn-default"><span class="glyphicon glyphicon-th-list"></span>
		List</a> <a href="#/addAccount" style="margin-top: 2px;"
		class="new-btn btn btn-default"><span class="glyphicon glyphicon-plus"></span>
		New</a> <a href="#" style="margin-top: 2px;" class="view-btn btn btn-default"><span
		class="glyphicon glyphicon-eye-open"></span> View</a> <input
		id="searchInput" name="searchInput" class="search-text" placeholder="Search"
		type="search">
	<button class="view-btn btn btn-default btn-sm" type="button">
		<span class="glyphicon glyphicon-search"></span> <span class="sr-only">Search</span>
	</button>
	<div class="btn-group">
		<a data-toggle="dropdown"
			class="glyphicon glyphicon-sort btn btn-default dropdown-toggle">
			Sort&nbsp;<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="#"><span
					class="glyphicon glyphicon-sort-by-attributes"></span> Account Id</a></li>
			<li><a href="#"><span
					class="glyphicon glyphicon-sort-by-attributes-alt"></span> Account
					Id</a></li>
			<li class="divider"></li>
			<li><a href="#"><span
					class="glyphicon glyphicon-sort-by-alphabet"></span> Account Name</a></li>
			<li><a href="#"><span
					class="glyphicon glyphicon-sort-by-alphabet-alt"></span> Account
					Name</a></li>
		</ul>
	</div>
	<div class="btn-group">
		<a data-toggle="dropdown"
			class="glyphicon glyphicon-list-alt btn btn-default dropdown-toggle">
			Items&nbsp;<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="#"><span class="glyphicon glyphicon-ok-circle"></span>
					20</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-ok-circle"></span>
					50</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-ok-circle"></span>
					100</a></li>
		</ul>
	</div>
	<div class="btn-group">
		<a data-toggle="dropdown"
			class="glyphicon glyphicon-list btn btn-default dropdown-toggle">
			Actions&nbsp;<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="#"><span
					class="glyphicon glyphicon-download-alt"></span> Download</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-import"></span>
					Import</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-print"></span>
					Print</a></li>
		</ul>
	</div>
	<a href="#" ng-click="viewAccount()" style="margin-top: 2px;" class="btn btn-default"><span
		class="glyphicon glyphicon-refresh"></span> Refresh</a>
</div>
<br/>