<div ng-include="'resources/views/menu.html'"></div>
<div id="fh5co-features" data-section="design">
	<div class="container">
		<div class="row">
			<form class="form-horizontal">
				<fieldset>

					<!-- Form Name -->
					<legend>account</legend>

					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="AccountId">Account
							Id</label>
						<div class="col-md-4">
							<input id="AccountId" name="AccountId" type="text"
								placeholder="Account Id" class="form-control input-md"
								required=""> <span class="help-block">Type your
								account id like MHE0001</span>
						</div>
					</div>

					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="accountName">Account
							Name</label>
						<div class="col-md-4">
							<input id="accountName" name="accountName" type="text"
								placeholder="Account Name" class="form-control input-md"
								required=""> <span class="help-block">Type your
								account name like MHE</span>
						</div>
					</div>

					<!-- Button -->
					<div class="form-group">
						<a href="#" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-edit"></span> Save</a>
					</div>

				</fieldset>
			</form>

		</div>
	</div>
</div>
<div ng-include="'resources/views/footer.html'"></div>