<div ng-include="'resources/views/menu.html'"></div>
<div id="fh5co-features" data-section="design">
   <div class="container">
    <div class="row">
        <div class="space-6"></div>
        <div class="col-sm-6 col-sm-offset-1">
            <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
                    <div class="widget-main">
                        <h4 class="header blue lighter bigger">
                           Associate Basic Details
                        </h4>
                        <br/>
                        <form name="employeeForm" class="form-horizontal">
                        	 <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="employeeName">Associate Name</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        <input type="text" class="form-control" name="employeeName" ng-model="employee.employeeName" focus required/>
                                       	<span ng-show="employeeForm.employeeName.$touched && employeeForm.employeeName.$invalid">Associate name is required.</span>
                                    </span>
                                </div>
                            </div>
                            
                              
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="employee_id">Employee ID</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
										<input type="text" class="form-control" placeholder="Employee ID" name="employeeId"" ng-model="employee.employeeId"/>
									</span>
                                </div>
                            </div>
                            
                             <div class="form-group">
                               <label class="col-sm-5 control-label no-padding-right" for="name">Select Role</label>
		                         <div class="col-sm-7">
		                             <span class="block input-icon input-icon-right">
		                             	<select ng-options="role as role.role for role in rolesdropdown" class="form-control" placeholder="Role" name="selectedrole" ng-model="role.roleId" ng-change="viewLevels(role.roleId)"><option value="">-- Select Role --</option></select>
		                                 
		                             </span>
		                         </div>
                            </div>
                            <div class="form-group">
                               <label class="col-sm-5 control-label no-padding-right" for="name">Select Level</label>
		                         <div class="col-sm-7">
		                             <span class="block input-icon input-icon-right">
		                             	<select ng-options="level as level.level for level in levelsdropdown" class="form-control" placeholder="Level" name="selectedlevel" ng-model="level.levelId" ng-change="viewOrigins(level.levelId)"><option value="">-- Select Level --</option></select>
		                                 
		                             </span>
		                         </div>
                            </div>
                            

                            <div class="form-group" id="origin-container" ng-show="showorigin == true">
                               <label class="col-sm-5 control-label no-padding-right" for="name">Select {{originlabel}}</label>
		                         <div class="col-sm-7">
		                             <span class="block input-icon input-icon-right">
		                             	<select ng-options="origin as origin.originName for origin in origins" class="form-control" placeholder="{{originlabel}}" name="selectedOrigin" ng-model="origin.originId" multiple="multiple"><option value="">-- Select {{originlabel}} --</option></select>

		                                 
		                             </span>
		                         </div>
                            </div>
                            
                            
                           
                            
                            <div class="form-group">
                                <span class="lbl col-sm-5"> </span>
                                <div class="col-sm-7">
                                    <button type="submit" class="width-35 pull-right btn btn-sm btn-primary"  ng-click="saveEmployee(employee,role,level,origin)">
                                        Save
                                    </button>
                                </div>
                            </div>
                           
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
<div ng-include="'resources/views/footer.html'"></div>
<!-- /.page-content -->
