<!--<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        
        <li class="active" style="color:orange;">Login</li>
    </ul>
</div>-->

<div id="fh5co-features" data-section="design" class="loginWrapper" style="height:100vh">
	<div class="container">
		<div class="row">
			<div class="space-6"></div>
			<div class="col-sm-12">
			    <div id="login-box" class="login-box visible widget-box no-border">
			        <div class="widget-body" id="content">
			            <div class="widget-main">
			                		
			                <div class="space-16"></div>
			
			                <form name="loginForm" class="form-horizontal login" role="form">
			                    <p>
							      	<label for="login">User name:</label>
							      	<input type="text" class="form-control" placeholder="username" name="username" ng-model="login.username" required focus/>
							   		<!-- <i class="ace-icon fa fa-user"></i>-->
								</p>
							
							    <p>
							      	<label for="password">Password:</label>
							      	<input type="password" class="form-control glyphicon glyphicon-lock" placeholder="Password" ng-model="login.password" required/>
							      	<!-- <i class="ace-icon fa fa-lock"></i> -->
							    </p>
							
							    <p class="login-submit">
							      <button type="button" class="login-button"  ng-click="doLogin(login)" data-ng-disabled="loginForm.$invalid">Login</button>
							    </p>
							
							    <p class="forgot-password"><a href="index.html">Forgot your password?</a></p>
			                </form>
			            </div><!-- /widget-main -->		            
			        </div><!-- /widget-body -->
			    </div><!-- /login-box -->		
			</div><!-- /position-relative -->
		</div><!-- /.row -->
	</div><!-- /.container -->
	<div style="clear:both"></div>
</div><!-- /#fh5co-features -->