<div id="fh5co-offcanvass" style="background-color: #4776B1;">
	<ul>
		<li class="active"><a href="#/dashboard" data-nav-section="home">Home</a></li>
		<li ng-controller="accountCtrl"><a href="#/vewAccount" ng-click="viewAccount()"
			data-nav-section="features">Accounts</a></li>
		<li><a href="#" data-nav-section="design">Sub Projects</a></li>
		<li><a href="#" data-nav-section="testimonies">Projects</a></li>
		<li><a href="#/employeeform" data-nav-section="products">Employee</a></li>
		<li><a href="#" data-nav-section="benefits">Benefits</a></li>
		<li><a href="#" data-nav-section="pricing">Profile</a></li>
		<li><a href="#/logout" data-nav-section="faqs">Logout</a></li>
	</ul>
</div>

<div id="fh5co-menu" class="navbar"
	style="background-color: #3a7cd8; padding: 0px;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-4">
					<img alt="Tool Ultimate" src="resources/img/tcs-text.png"
						style="width: 150px; height: auto; margin: 5px 0px;">
				</div>
				<div class="col-md-6">
					<p
						style="margin-top: 30px; padding: 0; color: #fff; margin-bottom: 0px; font-size: 14px;">Welcome
						{{loggedInUser.employeeName}}! (Last login Friday, 29th Jan, 2016)</p>
					<p
						style="padding: 0; color: #fff; margin-bottom: 0px; font-size: 14px;">{{loggedInUser.buildingName}}, {{loggedInUser.currentLocation}}</p>
				</div>
				<div class="col-md-2">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"
						data-toggle="collapse" data-target="#fh5co-navbar"
						aria-expanded="false" aria-controls="navbar"><span>Menu</span>
						<i></i> </a>
				</div>
			</div>
		</div>
	</div>
</div>
