<div id="fh5co-menu" class="navbar"
	style="background-color: #1565C0; padding: 0px;"> <!-- #54397E / 1565C0 / #4a7fbb -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			
				<!-- /logo/ -->
				<div class="col-md-3">
					<img alt="Tool Ultimate" src="resources/img/tcs-text.png" style="width: 150px; height: auto; margin: 5px 0px;">
				</div>
				
				<!-- /search/ -->
				<div class="col-md-5" style="margin-top:20px;">
					<form action="#"> 
						<div class="input-group"> 
							<input type="text" id="searchId" class="form-control src-input" onblur="validateHasInputOnBlurFocus();" onfocus="validateHasInputOnBlurFocus();" onkeypress="validateHasInput();" aria-label="..." style="height: 30px;padding-right:5px;" placeholder="Search Here..."> 
							<div class="input-group-btn"> 
								<button type="button" class="btn btn-default btn-danger dropdown-toggle actionButton" data-toggle="dropdown" id="actionId" aria-expanded="false" disabled="true">Action <i class="fa fa-angle-down"></i></button> 
							</div>
						</div>
					</form>
				</div>
				
				<!-- user -->
				<div class="col-md-4">
					<div class="col-md-2" style="margin-top:24px;text-align:right;">
						<a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							<img src="resources/img/top_menu.png" alt="">
						</a>
						<ul class="dropdown-menu" role="menu" style="">
							<li class="active"><a href="#/dashboard" data-nav-section="home">Home</a></li>
							<li ><a href="#" ng-controller="accountCtrl" ng-click="viewAccount()"
								data-nav-section="features">Accounts</a></li>
							<li><a href="#" ng-controller="accountCtrl" ng-click="viewUProject()" data-nav-section="design">Umbrella Projects</a></li>
							<li><a href="#" ng-controller="accountCtrl" ng-click="viewProject()" data-nav-section="testimonies">Projects</a></li>
							<li><a href="#"  ng-controller="accountCtrl" ng-click="viewSubProject()"
								data-nav-section="features">Sub Projects</a></li>
							<li><a href="#/employeeform" data-nav-section="products">Employee</a></li>
						</ul>
					</div>
					<div class="col-md-10">
						<div class="col-md-3" style="margin-top: 20px;">
							<a href="#" style="">
								<img src="resources/img/user.png" alt="" class="img-circle">
							</a>
						</div>
						<div class="col-md-9" style="color:#fff;margin-top: 30px;">
							Welcome <b>John Smith </b>
							<i data-toggle="dropdown" aria-expanded="false" class="fa fa-angle-down dropdown-toggle"></i>
							<ul class="dropdown-menu dropdown-menu-right" role="menu" style="top: 70%;left: 40%;right: 10%;">
								<li><a href="#" data-nav-section="pricing">Profile</a></li>
								<li><a href="#" ng-controller="authCtrl" ng-click="logout()" data-nav-section="faqs">Logout</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>