<div ng-include="'resources/views/menu.html'"></div>
<div id="fh5co-features" data-section="design">
   <div class="container">
      <div class="row">
         <legend>All Accounts</legend>
         <div ng-include="'resources/views/accountTool.html'"></div>
         <table id="accounts" class="table table-striped table-bordered"
            cellspacing="0" width="100%">
            <thead>
               <tr>
                  <th>Account Id</th>
                  <th>Account Name</th>
                  <th>Created By</th>
                  <th>Created On</th>
                  <th>Action</th>
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat="account in accounts">
                  <td>{{account.accountId}}</td>
                  <td>{{account.accountName}}</td>
                  <td>{{account.accountCreatedBy}}</td>
                  <td>{{account.accountCreatedOn}}</td>
				  <td><div class="btn-group">
							<a data-toggle="dropdown"
								class="glyphicon glyphicon-link btn btn-default dropdown-toggle">
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#" ng-click="editAccount(account)"><span
										class="glyphicon glyphicon-edit"></span> Edit</a></li>
								<li><a href="#"><span
										class="glyphicon glyphicon-trash"></span> Delete</a></li>
							</ul>
						</div>
					</td>
				</tr>
            </tbody>
         </table>
      </div>
   </div>
</div>
<div ng-include="'resources/views/footer.html'"></div>