<div ng-include="'resources/views/menu.html'"></div>
<div id="fh5co-features" data-section="design">
	<div class="container">
		<div class="row">
			<a href="#/addAccount" class="btn btn-primary btn-sm">
				<span class="glyphicon glyphicon-plus"></span> Create New Account
			</a>
			<table id="accounts" class="table table-striped table-bordered"
				cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>Account Id</th>
						<th>Account Name</th>
						<th>Created By</th>
						<th>Created On</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>Account Id</th>
						<th>Account Name</th>
						<th>Created By</th>
						<th>Created On</th>
					</tr>
				</tfoot>
				<tbody>
					<tr ng-repeat="account in accounts">
						<td>{{account.accountId}}</td>
						<td>{{account.accountName}}</td>
						<td>{{account.createdBy}}</td>
						<td>{{account.createdOn}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div ng-include="'resources/views/footer.html'"></div>